# Turn on URL rewriting
RewriteEngine On

# Set the base directory for the rewrites
# If your project is directly inside the htdocs, this might just be '/PCTO'
RewriteBase /PCTO/

# Prevent viewing of .htaccess file
<Files .htaccess>
    order allow,deny
    deny from all
</Files>

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route all other traffic to index.php
RewriteRule .* index.php [L,QSA]
